= javascript_include_tag "play_form"
.row
  .small-12.columns#play-form-container
    %h3 New Game Play
    .section.play
      = form_tag plays_path, method: :post, id: "new-play-form"
      .row
        .small-12.columns
          = check_box_tag :include_me, @player_name, true
          = label_tag :include_me, "Include me in this game"
      .row
        .small-12.columns
          = label_tag :players, "Players (separated by commas)", id: "players-label"
      .row
        .small-10.columns
          = text_field_tag :players, nil, id: "players"
          = hidden_field_tag :game_id, @game_id
        .small-2.columns.r-align
          = submit_tag "Submit", class: 'button tiny radius'
