.row
  .small-12.columns
    - if @results.nil?
      %h3 Search For Game To Add
      .section
        = form_tag :games_search, method: :get
        .row
          .small-12.columns
            = label_tag :name, "Search by Name"
        .row.collapse
          .small-9.columns
            = text_field_tag :name, nil, required: true
          .small-3.columns
            = submit_tag("Submit", class: "button postfix radius")
    - else
      %h3 Game Results
      .row
        .small-12.columns
          - unless @results.empty?
            %table.results
              %thead
                %tr
                  %th Name
              %tbody
                - @results.each do |result|
                  = render partial: "games/result", locals: {result: result}
            = paginate @results
          - else
            No results found

      .row
        .small-4.columns
          %sub "Results provided by Board Game Geek"
        .small-4.columns.small-offset-4
          = link_to "Search again?", games_search_path

          = link_to "Didn't find your game?", new_game_path