.row
  .small-3.columns
    =image_tag @game.thumbnail
  .small-6.columns
    %h3= @game.name
    %ul
      %li= players_string @game
      %li= play_time_to_string @game.playing_time
  .small-3.columns
    - if current_user.games.include?(@game)
      = link_to "Remove From My Collection", remove_game_path(@game.id), class: "tiny button alert"
      = link_to "Play This Game", new_play_path(@game.id), class: "tiny button"
    - else
      - if @game.id
        = link_to "Add To My Collection", add_game_path(@game.id), class: "tiny button success"
      - else
        = link_to "Add To My Collection", add_game_path(@game.bgg_id, format: :bgg), class: "tiny button success"
.row
  .small-12.columns
    %br
      - if @game.description
        = @game.description.html_safe
- if @game.bgg_id
  .row
    .small-12.columns
      Details provided by Board Game Geek