.row
  .small-10.columns
    %h3 Show Game
    = @game.name
  .small-2.columns
    - if current_user.games.include?(@game)
      = link_to "Remove From My Collection", remove_game_path(@game.id)
      = link_to "Play This Game", new_play_path(@game.id)
    - else
      - if @game.id
        = link_to "Add To My Collection", add_game_path(@game.id)
      - else
        = link_to "Add To My Collection", add_game_path(@game.bgg_id, format: :bgg)

.row
  .small-5.columns
    = players_string @game
  .small-5.columns.small-offset-2
    = play_time_to_string @game.playing_time

