.row
  .small-12.columns
    %h3 Suggest Games
.row
  .small-4.columns
    .section
      %h4 By Number of Players
      = simple_form_for :game, url: :suggest_game, action: :post do |f|
        .row
          .small-12.columns
            = f.input :number_of_players, collection: 1..99, label: "How many players?"
            = f.submit "Suggest for this number", class: "button tiny radius"
  .small-8.columns
    .section
      %h4 By Player Names
      = simple_form_for :game, url: :suggest_game, action: :post do |f|
        .row
          .small-12.columns
            = f.input :players, label: "Players (separated by commas)"
            = f.input :include_me, as: :boolean, label: "Include me in this game", input_html: {checked: true}
            = f.input :played, as: :radio_buttons, collection: ["Show only games that are new to these people", "Show only games these people have played"], checked: "Show only games that are new to these people", label: false
            = f.submit "Suggest for these players", class: "button tiny radius"
